---
import Button from "../components/Button.astro";
import CourseList from "../components/CourseList.astro";
import TestScore from "../components/TestScore.astro";
import Page from "../layouts/Page.astro";
---

<Page title="Academics">
	<div class="px-7">
		<div class="flex items-center">
			<span class="font-semibold text-3xl mr-5 whitespace-nowrap">High School Courses</span>
			<hr class="border-black border-2 w-full">
		</div>

		<div class="grid grid-cols-3 gap-5">
			<CourseList subject="English Language Arts" />
			<CourseList subject="Mathematics" />
			<CourseList subject="Science" />
		</div>

	</div>
	<div class="px-7 mt-5">
		<div class="flex items-center">
			<h2 class="font-semibold text-3xl mr-5 whitespace-nowrap">Standardized Tests</h2>
			<hr class="border-black border-2 w-full">
		</div>
		<div class="grid grid-cols-3 gap-7 mt-5">
			<TestScore testName="SAT" date="March 2023" score="1330" minScore="400" maxScore="1600" color="text-lime-500" />
			<TestScore testName="PSAT" date="October 2022" score="1330" minScore="400" maxScore="1520" color="text-lime-500" />
		</div>
		<div class="flex items-center mt-5">
			<h2 class="font-semibold text-3xl mr-5 whitespace-nowrap">Advanced Placement® Exams</h2>
			<hr class="border-black border-2 w-full">
		</div>
		<div class="grid grid-cols-3 gap-7 mt-5">
			<TestScore testName="AP Computer Science A" date="May 2023" score="5" minScore="0" maxScore="5" color="text-green-500" />
			<TestScore testName="AP US Government" date="May 2023" score="4" minScore="0" maxScore="5" color="text-lime-500" />
		</div>
	</div>
</Page>