---
import Page from "../layouts/Page.astro";
---

<Page title="Honors | Aarin Dave">
    <div class="m-5">
        <h1 class="text-4xl font-bold">Honors</h1>
        <h2 class="bg-gradient-to-r from-cyan-400 to-blue-500 text-3xl font-semibold text-white rounded-lg my-3 px-3 py-2">2023</h2>
        

        <h3 class="text-2xl font-semibold">National TSA State Leadership Conference</h3>
        <ul>
            <li>Coding HS - 9th</li>
        </ul>

        <h3 class="text-2xl font-semibold">Georgia TSA State Leadership Conference</h3>
        <ul>
            <li>Coding HS - 1st</li>
            <li>Webmaster - 2nd</li>
            <li>Video Game Design HS - 3rd</li>
            <li>Cybersecurity HS (GA only) - 7th</li>
            <li>Software Development - 7th</li>
        </ul>

        <h2 class="bg-gradient-to-r from-cyan-400 to-blue-500 text-3xl font-semibold text-white rounded-lg my-3 px-3 py-2">2022</h2>

        <h3 class="text-2xl font-semibold">Congressional App Challenge</h3>
        <p>First place winner</p>
        
        <h2 class="bg-gradient-to-r from-cyan-400 to-blue-500 text-3xl font-semibold text-white rounded-lg my-3 px-3 py-2">2021</h2>

        <h3 class="text-2xl font-semibold">Congressional App Challenge</h3>
        <p>First place winner</p>
    </div>
</Page>
