---
import Page from "../layouts/Page.astro";
---

<Page title="Honors | Aarin Dave">
    <h1 class="text-4xl font-bold">Honors</h1>
    <h2 class="text-3xl font-semibold bg-blue-700 text-white">2023</h2>

    <h3>National TSA State Leadership Conference</h3>
    <ul>
        <li>Coding HS - 9th</li>
    </ul>

    <h3>Georgia TSA State Leadership Conference</h3>
    <ul>
        <li>Coding HS - 1st</li>
        <li>Webmaster - 2nd</li>
        <li>Video Game Design HS - 3rd</li>
        <li>Cybersecurity HS (GA only) - 7th</li>
        <li>Software Development - 7th</li>
    </ul>

    <h2 class="text-3xl font-semibold bg-blue-700 text-white">2022</h2>

    <h3>Congressional App Challenge</h3>
    <p>First place winner</p>
    
    <h2 class="text-3xl font-semibold bg-blue-700 text-white">2021</h2>

    <h3>Congressional App Challenge</h3>
    <p>First place winner</p>

</Page>
