---
import Page from '../layouts/Page.astro';
---

<Page title="Home">
	<div class="p-5">
		<h1 class="transition ease delay-100 duration-[2s] -translate-x-full opacity-0 blur-lg text-7xl font-bold mb-3 slide-left">Digital Innovator</h1>
		<h2 class="transition ease delay-300 duration-[2.5s] -translate-x-full blur-lg text-5xl font-semibold slide-left">Web, Game, and Mobile App Developer</h2>
	</div>
</Page>

<script>
	const slideLeftText = document.getElementsByClassName("slide-left");

	for (let text of slideLeftText) {
		text.classList.remove("-translate-x-full", "opacity-0", "blur-lg");
	}
</script>

<style>

</style>
