---
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Navbar from "../components/Navbar.astro";
import Page from '../layouts/Page.astro';
---

<Page title="Projects">
	<h2 class="text-3xl font-semibold mb-3">Web Development</h2>

    <div class="grid grid-cols-4 mb-3">
        <Card>
            <img src="../../png/astrofly.png">
            <p>Astrofly is a website.</p>
            <Button text="Visit project" />
        </Card>
    </div>

    <h2 class="text-3xl font-semibold">Game Development</h2>
    <h2 class="text-3xl font-semibold">Graphic Design</h2>
</Page>
