---
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Page from '../layouts/Page.astro';
---

<Page title="Qualifications">
	<div class="px-5">
			<h2 class="text-3xl font-semibold mb-5">Skills</h2>
			<h2 class="text-3xl font-semibold mb-5">Certificates</h2>
			<div class="grid grid-cols-4 gap-5 justify-center">
				<Card>
					<img src="../../png/level-1-certificate.jpeg" class="rounded-lg">
					<div>
						<div class="font-semibold text-xl">YoungWonks Level 1 Certificate</div>
						<div>Python</div>
					</div>
					<div>
						<Button text="Learn more" link="https://www.youngwonks.com/python-programming" />
					</div>
				</Card>
				<Card>
					<img src="../../png/level-2-certificate.png" class="rounded-lg">
					<div>
						<div class="font-semibold text-xl">YoungWonks Level 2 Certificate</div>
						<div>Pygame & GPIO</div>
					</div>
					<div>
						<Button text="Learn more" link="https://www.youngwonks.com/arduino-raspberry-pi-coding" />
					</div>
				</Card>
				<Card>
					<img src="../../png/level-2-certificate.png" class="rounded-lg">
					<div>
						<div class="font-semibold text-xl">YoungWonks Level 3 Certificate</div>
						<div>TkinterUI</div>
					</div>
					<div>
						<Button text="Learn more" link="https://www.youngwonks.com/robotics-programming-for-kids" />
					</div>
				</Card>
			</div>
		</div>
</Page>