<div class="flex items-center">
    <div class="p-3">
        <a href="/">
            <img src="../../png/brand.png" class="h-12">
        </a>
    </div>
    <div class="text-center flex flex-1 justify-end gap-5 p-3">
        <a class="navbar-link" href="/">Home</a>
        <a class="navbar-link" href="/about-me/">About Me</a>
        <a class="navbar-link" href="/academics/">Academics</a>
        <a class="navbar-link" href="/honors/">Honors</a>
        <a class="navbar-link" href="/projects/">Projects</a>
        <a class="navbar-link" href="/extracurriculars/">Extracurriculars</a>
        <a class="navbar-link" href="/qualifications/">Qualifications</a>
        <a class="navbar-link" href="/testimonials/">Testimonials</a>
        <a class="navbar-link" href="/contact-me/">Contact Me</a>
    </div>
</div>