---
import Navbar from "../components/Navbar.astro";

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="../png/logo.png" />
        <title>{title}</title>
	</head>
	<body>
		<Navbar />
		<main>
			<slot />
		</main>
	</body>
</html>
